function String.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
eq
not
if-goto String.new.IfElse1
push constant 0
// Error: variable not found: this_0
goto String.new.IfElseEND1
label String.new.IfElse1
push argument 0
call Array.new 1
// Error: variable not found: this_0
label String.new.IfElseEND1
push argument 0
// Error: variable not found: this_2
push constant 0
// Error: variable not found: this_1
push pointer 0
return
function String.dispose 0
push argument 0
pop pointer 0
// Error: variable not found: this_0
push constant 0
eq
not
not
if-goto String.dispose.IfElseEND1
call this_0.dispose 0
pop temp 0
label String.dispose.IfElseEND1
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
// Error: variable not found: this_1
return
function String.charAt 0
push argument 0
pop pointer 0
// Error: variable not found: this_0
// Error: variable not found: argument_1
add
pop pointer 1
push that 0
return
function String.appendChar 1
push argument 0
pop pointer 0
// Error: variable not found: this_1
// Error: variable not found: this_2
eq
not
if-goto String.appendChar.IfElseEND1
// Error: variable not found: this_2
// Error: variable not found: this_2
add
call Array.new 1
pop local 0
// Error: variable not found: this_0
push local 0
// Error: variable not found: this_1
call Memory.copy 3
pop temp 0
call this_0.dispose 0
pop temp 0
// Error: variable not found: this_2
// Error: variable not found: this_2
add
// Error: variable not found: this_2
push local 0
// Error: variable not found: this_0
label String.appendChar.IfElseEND1
// Error: variable not found: argument_1
// Error: variable not found: this_0
// Error: variable not found: this_1
add
pop pointer 1
pop that 0
// Error: variable not found: this_1
push constant 1
add
// Error: variable not found: this_1
push constant 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
// Error: variable not found: this_1
push constant 1
sub
// Error: variable not found: this_1
push constant 0
return
function String.intValue 2
push argument 0
pop pointer 0
push constant 1
pop local 1
push constant 0
pop local 0
label WHILE_START_String.intValue1
push local 1
// Error: variable not found: this_1
lt
not
if-goto WHILE_END_String.intValue1
push local 0
push constant 10
call Math.multiply 2
// Error: variable not found: this_0
push local 1
add
pop pointer 1
push that 0
push constant 48
sub
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_START_String.intValue1
label WHILE_END_String.intValue1
push local 0
return
function String.setInt 6
push argument 0
pop pointer 0
push constant 0
// Error: variable not found: this_1
push constant 0
pop local 4
// Error: variable not found: argument_1
push constant 0
eq
not
if-goto String.setInt.IfElseEND1
push constant 48
call this.appendChar 1
pop temp 0
push constant 0
return
label String.setInt.IfElseEND1
// Error: variable not found: argument_1
push constant 0
lt
not
if-goto String.setInt.IfElseEND2
push constant 1
pop local 4
// Error: variable not found: argument_1
push constant 0
lt
// Error: variable not found: argument_1
push constant 32767
and
push constant 32767
eq
and
not
if-goto String.setInt.IfElseEND3
push constant 45
call this.appendChar 1
pop temp 0
push constant 51
call this.appendChar 1
pop temp 0
push constant 50
call this.appendChar 1
pop temp 0
push constant 55
call this.appendChar 1
pop temp 0
push constant 54
call this.appendChar 1
pop temp 0
push constant 56
call this.appendChar 1
pop temp 0
push constant 0
return
label String.setInt.IfElseEND3
// Error: variable not found: argument_1
neg
// Error: variable not found: argument_1
label String.setInt.IfElseEND2
// Error: variable not found: argument_1
pop local 2
push constant 0
pop local 3
label WHILE_START_String.setInt1
push local 2
push constant 0
gt
not
if-goto WHILE_END_String.setInt1
push local 2
push constant 10
call Math.divide 2
pop local 2
push local 3
push constant 1
add
pop local 3
goto WHILE_START_String.setInt1
label WHILE_END_String.setInt1
push local 3
call Array.new 1
pop local 5
push constant 0
pop local 1
label WHILE_START_String.setInt2
// Error: variable not found: argument_1
push constant 0
gt
not
if-goto WHILE_END_String.setInt2
// Error: variable not found: argument_1
// Error: variable not found: argument_1
push constant 10
call Math.divide 2
push constant 10
call Math.multiply 2
sub
pop local 0
push local 0
push constant 48
add
push local 5
push local 1
add
pop pointer 1
pop that 0
// Error: variable not found: argument_1
push constant 10
call Math.divide 2
// Error: variable not found: argument_1
push local 1
push constant 1
add
pop local 1
goto WHILE_START_String.setInt2
label WHILE_END_String.setInt2
push local 4
push constant 1
eq
not
if-goto String.setInt.IfElseEND4
push constant 45
call this.appendChar 1
pop temp 0
label String.setInt.IfElseEND4
label WHILE_START_String.setInt3
push local 1
push constant 0
gt
not
if-goto WHILE_END_String.setInt3
push local 1
push constant 1
sub
pop local 1
push local 5
push local 1
add
pop pointer 1
push that 0
call this.appendChar 1
pop temp 0
goto WHILE_START_String.setInt3
label WHILE_END_String.setInt3
push local 5
call int.dispose 1
pop temp 0
push constant 0
return
function String.newLine 0
push constant 128
return
