function Sys.init 0
push constant 5
pop static 0
push static 0
push constant 5
eq
if-goto Sys.init$IF_TRUE1
goto Sys.init$IF_FALSE1
label Sys.init$IF_TRUE1
push constant 7
pop static 0
label Sys.init$IF_FALSE1
call Memory.init 0
pop temp 0
call Math.init 0
pop temp 0
call Screen.init 0
pop temp 0
call Output.init 0
pop temp 0
call Keyboard.init 0
pop temp 0
call Main.main 0
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function Sys.halt 0
label Sys.halt_WHILE_EXP1
push constant 0
not
not
if-goto Sys.halt_WHILE_END1
goto Sys.halt_WHILE_EXP1
label Sys.halt_WHILE_END1
push constant 0
return
function Sys.wait 1
label Sys.wait_WHILE_EXP1
push argument 0
push constant 0
gt
not
if-goto Sys.wait_WHILE_END1
push argument 0
push constant 1
sub
pop argument 0
push constant 70
pop local 0
label Sys.wait_WHILE_EXP2
push local 0
push constant 0
gt
not
if-goto Sys.wait_WHILE_END2
push local 0
push constant 1
sub
pop local 0
goto Sys.wait_WHILE_EXP2
label Sys.wait_WHILE_END2
goto Sys.wait_WHILE_EXP1
label Sys.wait_WHILE_END1
push constant 0
return
function Sys.error 0
push argument 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
